<link rel="stylesheet" href="../style/style.css" />
<body>
  <section class="articles">
    <h1>Articles</h1>
    <div>
      <a
        href="https://sea.ign.com/playstation-5-1/195799/feature/playstation-state-of-play-feb-2023-how-to-watch-and-what-to-expect"
        target="_blank"
        rel="noopener noreferrer"
      >
        <h3>
          PlayStation State of Play (February 2023) - How to Watch and What to
          Expect
        </h3></a
      >
      <p>
        Everything you need to know about PlayStation State of Play happening
        tomorrow.
      </p>
    </div>
    <div>
      <a
        href="https://sea.ign.com/assassins-creed-victory/195789/news/assassins-creed-syndicate-update-will-fix-a-persistent-ps5-issue"
        target="_blank"
        rel="noopener noreferrer"
      >
        <h3>
          Assassin's Creed Syndicate Update Will Fix a Persistent PS5 Issue
        </h3></a
      >
      <p>Ubisoft is releasing the patch tomorrow.</p>
    </div>
    <div>
      <a
        href="https://sea.ign.com/genshin-impact/195790/news/genshin-impact-developer-subpoenas-twitter-to-uncover-leaker-identities"
        target="_blank"
        rel="noopener noreferrer"
      >
        <h3>
          Genshin Impact Developer Subpoenas Twitter to Uncover Leaker
          Identities
        </h3></a
      >
      <p>Things are getting litigious out here.</p>
    </div>
  </section>
</body>
